/* regole generali */
*{
  box-sizing: border-box;
  margin:0;
  box-sizing: border-box;
}

body{
  background-color: #ADD8E6;
}

h1, footer{
  font-family: 'Nerko One', cursive;
  text-align: center;
}

/* regole titolo */
h1{
  color:white;
  font-size: 50px;
  text-shadow: 1px 0px #170202;
}

/* regole generali carte */
.row{
  width: 50%;
  margin:auto;
  position:relative;
}

.card{
  width: 21%;
  height: 150px;
  margin: 0 2% 20px;
  background-image: url('../img/pattern.png');
  background-size: contain;
  box-shadow: 2px 1px #86A8B2;
  border-radius: 5px 5px 5px 5px;
}

.card:last-child{
  position:absolute;
  top: 0;
  right:0;
}

.row .card:nth-child(2){
  position:absolute;
  top: 0;
  left:25%;
}

#scoperta{
  position:absolute;
  top: 0;
  left:25%;
  background-color: black;
}

.row .card:nth-child(3){
  position:absolute;
  top: 0;
  right:25%;
}

/* regole carte nascoste */

.bottom>.second.card:hover{
  background-color: white;
  font-size: 10px;
  background-image: url('../img/noun_air_balloon_3134741.png');
}
