/* regole generali */
*{
  box-sizing: border-box;
  margin:0;
  padding:0;
}

body{
  background-color: #ADD8E6;
}

.text{
  font-family: 'Nerko One', cursive;
  text-align: center;
  text-shadow: 1px 0px #170202;
}

/* regole titolo */
h1{
  color:white;
  font-size: 100px;
}

/* regole generali carte */
main{
  width: 800px;
  margin:auto;
}

.container{
  text-align: center;
}

.card{
  width: 150px;
  height: 200px;
  background-image: url('../img/pattern.png');
  background-size: contain;
  box-shadow: 2px 1px #86A8B2;
  border-radius: 10px 10px 10px 10px;
  display: inline-block;
  margin: 10px;
  /* position: relative; */
}

.card *{
visibility: hidden;
display: block;
}

.card:hover * {
  visibility: visible;
  background-color:white;
  border-radius: 10px 10px 10px 10px;
  width: 100%;
  /* background-image: none; */

}

.card span{
  /* position:absolute; */
  /* bottom: 0;
  left: 0; */
  font-size: 25px;
  width: 100%;
  height: 20%;
}

.card img{
  width: 100%;
  height: 80%;
}

img[src*="Tractor"] + span{
  color: orange;
}

img[src*="Submarine"] + span{
  color: blue;
}

img[src*="Tram"] + span{
  color: green;
}

img[src*="Bicycle"] + span{
  color:yellow;
}

img[src*="Cruise"] + span{
  color: purple;
}

img[src*="balloon"] + span{
  color: #E3278B;
}

.card:nth-child(6) * {
  visibility: visible;
  background-image: url('../img/white-background-2.jpg');
  border-radius: 10px 10px 10px 10px;
}



/* mettere background img con after */
